.categories {
  padding: 100px 32px;
  background-color: #ffffff;
}

.categories__container {
  max-width: 1280px;
  margin: 0 auto;
}

/* INTRO */
.categories__intro {
  margin-bottom: 64px;
}

.categories__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;  
  color: #1C2024; 
}

.categories__description {
  max-width: 768px;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;  
  color: #60646C; 
}

/* CONTENEDOR HORIZONTAL */
.categories__content {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}


/* TARJETA */
/* .category {
  flex: 1;
} */

.category a {
  text-decoration: none;
  
}

.category__image {
  width: 384px;
  height: 480px;
  border-radius: 12px;
  overflow: hidden;
}

.category__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1C2024;
}

.category p {
  font-size: 14px;
  line-height: 1.6;
  color: #60646C;
  font-weight: 400;
}
