.hero {
  min-height: 100vh;
  padding: 120px 32px;
  text-align: center;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url("/images/hero.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hero h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  max-width: 768px;
  text-align: center;
}

.hero p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
  max-width: 768px;
  text-align: center;
  
}

.hero__button {
  background: #5B5BD6;
  color: #ffffff;
  padding: 12px 32px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}
