/* ================= PROMISE SECTION ================= */

.promise {
  width: 100%;
  padding: 100px 32px;
  background: rgba(0, 0, 85, 0.0235);
}

.promise__container {
  max-width: 1280px;
  margin: 0 auto;
}



.promise__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 64px;
  text-align: center;
  color: #1C2024;
}

/* FILA HORIZONTAL */
.promise__content {
  display: flex;
  gap: 32px;
}

/* CADA ITEM */
.promise__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;
}


.promise__item img {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
  
}

.promise__item h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
  color: rgba(28, 32, 36, 1);
}

.promise__item p {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  color: rgba(96, 100, 108, 1);
  line-height: 20px;
  max-width: 280px;
}
