@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Protest+Guerrilla&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /* Font Sizes */
  --font-size-3: 12px;
  --font-size-3-5: 14px;
  --font-size-4: 16px;
  --font-size-4-5: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;

  /* Line Heights */
  --leading-6: 24px;

  /* Font Family */
  --family-text: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --family-heading: var(--family-text);
  --family-display: "Protest Guerrilla", "Protest Strike", "Stencil", "Impact",
    sans-serif;
  --family-code: "Source Code Pro", "Menlo", "Consolas", "Monaco", "Courier New",
    monospace;
  --family-emphasis: "Lora", "Georgia", "Palatino Linotype", "Book Antiqua",
    "Times New Roman", serif;
}
