<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullStock</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <!-- ================= HEADER ================= -->

    <%- include('partials/header', { variant: 'header-main' }) %>


    <!-- ================= HERO ================= -->

    <section class="hero">
      <div class="hero__content">
        <h1>Nuevos productos disponibles</h1>
        <p>
          Un pequeño lote de increíbles productos acaba de llegar.
          <br />Agrega tus favoritos al carrito antes que se agoten.
        </p>
        <a href="#categories" class="hero__button">Compra ahora</a>
      </div>
    </section>

    <!-- ================= CATEGORÍAS ================= -->

    <section id="categories" class="categories">
      <div class="categories__container">
        <div class="categories__intro">
          <h2 class="categories__title">Compra por categoría</h2>
          <p class="categories__description">
            Explora nuestra selección de productos especialmente diseñados para
            desarrolladores web. Encuentra lo que buscas navegando por nuestras
            categorías de polos, tazas, stickers y más.
          </p>
        </div>

        <div class="categories__content">
          <div class="category">
            <a href="/categories/1">
              <div class="category__image">
                <img src="/images/categoria-polos.png" alt="Polos" />
              </div>
              <h3>Polos</h3>
              <p>
                Polos exclusivos con diseños que todo desarrollador querrá
                lucir. Ideales para llevar el código a donde vayas.
              </p>
            </a>
          </div>

          <div class="category">
            <a href="/categories/2">
              <div class="category__image">
                <img src="/images/categoria-tazas.png" alt="Tazas" />
              </div>
              <h3>Tazas</h3>
              <p>
                Tazas que combinan perfectamente con tu café matutino y tu
                pasión por la programación. ¡Empieza el día con estilo!
              </p>
            </a>
          </div>

          <div class="category">
            <a href="/categories/3">
              <div class="category__image">
                <img src="/images/categoria-stickers.png" alt="Stickers" />
              </div>
              <h3>Stickers</h3>
              <p>
                Personaliza tu espacio de trabajo con nuestros stickers únicos y
                muestra tu amor por el desarrollo web.
              </p>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- ================= PROMESA ================= -->

    <section class="promise">
      <div class="promise__container">
        <h2 class="promise__title">Nuestra promesa de calidad</h2>

        <div class="promise__content">
          <div class="promise__item">
            <img src="/icons/truck.png" alt="Entrega rápida" />
            <h3>Entrega rápida</h3>
            <p>
              Recibe tus productos en tiempo récord, directo a tu puerta, para
              que puedas disfrutar de ellos cuanto antes.
            </p>
          </div>

          <div class="promise__item">
            <img src="/icons/return.png" alt="Satisfacción Garantizada" />
            <h3>Satisfacción Garantizada</h3>
            <p>
              Tu felicidad es nuestra prioridad. Si no estás 100% satisfecho,
              estamos aquí para ayudarte con cambios o devoluciones.
            </p>
          </div>

          <div class="promise__item">
            <img src="/icons/ribbon.png" alt="Materiales de Alta Calidad" />
            <h3>Materiales de Alta Calidad</h3>
            <p>
              Nos aseguramos de que todos nuestros productos estén hechos con
              materiales de la más alta calidad.
            </p>
          </div>

          <div class="promise__item">
            <img src="/icons/idea.png" alt="Diseños Exclusivos" />
            <h3>Diseños Exclusivos</h3>
            <p>
              Cada producto está diseñado pensando en los desarrolladores, con
              estilos únicos que no encontrarás en ningún otro lugar.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ================= FOOTER ================= -->
    <%- include('partials/footer') %>
  </body>
</html>
