/* 1. Settings */
@import url("1-settings/colors.css");
@import url("1-settings/spacing.css");
@import url("1-settings/typography.css");
@import url("1-settings/width.css");

/* 3. Generic */
@import url("3-generic/reset.css");

/* 4. Elements */
@import url("4-elements/elements.css");

/* 5. Objects */
@import url("5-objects/objects.css");

/* 6. Components */
@import url("6-components/categories.css");
@import url("6-components/category.css");
@import url("6-components/header.css");
@import url("6-components/hero.css");
@import url("6-components/promise.css");
@import url("6-components/footer.css");
@import url("6-components/products.css");
@import url("6-components/cart.css");
@import url("6-components/login.css");
@import url("6-components/signup.css");
@import url("6-components/checkout.css");
@import url("6-components/about.css");
@import url("6-components/terms.css");
@import url("6-components/order-confirmation.css");




/* 7. Utilities */
@import url("7-utilities/utilities.css");

body {
  margin: 0;
}
